body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the full height */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  padding-left: 5px;
}

h2 {
  padding-left: 5px;
}

p {
  padding-left: 5px;
}

.bg {
  background-image: url("https://images.unsplash.com/photo-1531545514256-b1400bc00f31?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&w=1080&q=80"); /* Ensure this is the correct image URL */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services {
  padding: 20px;
  color: white; /* Adjust as needed */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Responsive grid layout */
  gap: 10px; /* Space between cards */
}

.service-card {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 15px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

.service-title {
  color:rgba(0, 0, 0, 0.7)
}
element.style {
  width: 100%;
  height: auto;
  display: block;
}
user agent stylesheet
img {
  overflow-clip-margin: content-box;
  overflow:
clip;

}
